<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322975189674-98hmpqdjc51bdhulr0ivdjr19sf2puvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322975189674-98hmpqdjc51bdhulr0ivdjr19sf2puvc</string>
	<key>API_KEY</key>
	<string>AIzaSyC35pwkn4r9fISMER87o6iZZN0vjKgeJ8k</string>
	<key>GCM_SENDER_ID</key>
	<string>322975189674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCrypto</string>
	<key>PROJECT_ID</key>
	<string>mycrypto-3b346</string>
	<key>STORAGE_BUCKET</key>
	<string>mycrypto-3b346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322975189674:ios:64e2a6fedf282c111e1ed3</string>
</dict>
</plist>